@import '../../../../variables.scss';

.winnerBox {
    background: $winner-background;
    border: 1px solid $black;
    box-shadow: $box-shadow;
    border-radius: 4px;
    padding: 17px 28px;
}
.messageWinner {
    font-style: normal;
    font-weight: 400 !important;
    font-size: 22px !important;
    line-height: normal;
}